<!-- ************************************************************************* -->
<!--
File: app.component.html
Author: Adam Wilkins
Last Updated: 9/25/2025
Last to Update: Adam Wilkins
-->
<!-- ************************************************************************* -->

<!-- ************************************************************************* -->
<div class="background">

  <!-- ************************************************************************* -->
  <header class="navbar">

    <!-- ************************************************************************* -->
    <div class="logo">
      <img src="assets/PersonalLogo.png" alt="Personal Logo" routerLink="/home" routerLinkActive="active">
    </div>
    <!-- ************************************************************************* -->

    <input type="checkbox" id="menu-toggle" class="menu-toggle" #menuToggle/>

    <!-- ************************************************************************* -->
    <label for="menu-toggle" class="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </label>
    <!-- ************************************************************************* -->

    <!-- ************************************************************************* -->
    <nav class="navigation">
      <a class="item"
         routerLink="/home"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{ exact: true }"
         (click)="closeMenu(menuToggle)"
      >Home</a>

      <a class="item"
         routerLink="/projects"
         routerLinkActive="active"
         (click)="closeMenu(menuToggle)"
      >Projects</a>

      <a class="item"
         routerLink="/skills"
         routerLinkActive="active"
         (click)="closeMenu(menuToggle)"
      >Skills</a>

      <a class="item"
         routerLink="/resume"
         routerLinkActive="active"
         (click)="closeMenu(menuToggle)"
      >Resume</a>

      <a class="item"
         routerLink="/contact"
         routerLinkActive="active"
         (click)="closeMenu(menuToggle)"
      >Contact</a>

      
    </nav>
    <!-- ************************************************************************* -->

  </header>
  <!-- ************************************************************************* -->

  <!-- ************************************************************************* -->
  <main>
    <router-outlet></router-outlet>
  </main>
  <!-- ************************************************************************* -->

</div>
<!-- ************************************************************************* -->
