<!-- ************************************************************************* -->
<!--
File: app.component.html
Author: Adam Wilkins
Last Updated: 6/1/2025
Last to Update: Adam Wilkins
-->
<!-- ************************************************************************* -->


<!-- ************************************************************************* -->
 <!-- Sets the background for all pages to be dark grey -->
<div class="background">
    <!-- ************************************************************************* -->
     <!-- Navagation bar with logo and links to other pages -->
    <header class="navbar">

        <div class="logo">
            <img src="assets/PersonalLogo.png" alt="Personal Logo">
        </div>

        <!-- ************************************************************************* -->
         <!-- Navagation to other pages-->
        <nav class="navigation">
            <a class="item" 
                routerLink="/home"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
            >Home</a>

            <a class="item" 
                routerLink="/projects" 
                routerLinkActive="active"
            >Projects</a>

            <a class="item" 
                routerLink="/skills" 
                routerlinkActive="active"
            >Skills</a>

            <a class="item" 
                routerLink="/contact" 
                routerLinkActive="active"
            >Contact</a>
        </nav>
        <!-- ************************************************************************* -->

    </header>
    <!-- ************************************************************************* -->

    <!-- ************************************************************************* -->
    <main>
        <router-outlet></router-outlet>
    </main>
    <!-- ************************************************************************* -->

</div>
<!-- ************************************************************************* -->