<!-- ************************************************************************* -->
<!--
File: resume.component.html
Author: Adam Wilkins
Last Updated: 1/17/2026
Last to Update: Adam Wilkins
-->
<!-- ************************************************************************* -->

<!-- ************************************************************************* -->
<!-- Displaying resume as pdf -->
<iframe
  [src]="pdfSafeUrl"
  title="Resume PDF"
  style="width:100%; height: calc(100vh - 60px); border:0;"
></iframe>
<!-- ************************************************************************* -->