<!-- ************************************************************************* -->
<!--
File: achievements.component.html
Author: Adam Wilkins
Last Updated: 3/31/2026
Last to Update: Adam Wilkins
-->
<!-- ************************************************************************* -->

<!-- ************************************************************************* -->
<div class="achievements-page">

    <header class="achievements-header">
        <h1>Achievements</h1>
    </header>

    <section class="skills-grid">

        <!-- ************************************************************************* -->
        <!-- SETA Challenge Card -->
        <div class="achievement-card">
            <div class="card-header">
                <h2>SETA Challenge Cup - Student coding competition with groups of three challenge to complete six questions within three hours.</h2>
                <h3>Student at Southern New Hampshire University</h3>
            </div>
            <ul>
                <li>First Place Award - 2026</li>
                <li>Third Place Award - 2025</li>
                <li>Fourth Place Award - 2024</li>
                <li>Fifth Place Award - 2023</li>
            </ul>
        </div>
        <!-- ************************************************************************* -->

        <!-- ************************************************************************* -->
        <!-- CCSCNE competition Card -->
        <div class="achievement-card">
            <div class="card-header">
                <h2>CCSCNE Coding Competition - Student coding competition with groups of three challenge to complete SEVEN questions within three hours. Invited to the competition by a professor after achieving first place in the SETA Challenge Cup</h2>
                <h3>Student at Southern New Hampshire Univeristy</h3>
            </div>
            <ul>
                <li>Second Place Award - 2026</li>
            </ul>
        </div>
        <!-- ************************************************************************* -->

        <!-- ************************************************************************* -->
        <!-- Technology Student of the Year Card -->
        <div class="achievement-card">
            <div class="card-header">
                <h2>Office of Residence Life Legacy Award - 2026</h2>
                <h3>Awarded to a graduating staff member whose work has made a lasting positive impact on the Residence Life department.</h3>
                <h3>Peer Advisor at Southern New Hampshire University</h3>
            </div>
        </div>
        <!-- ************************************************************************* -->

        <!-- ************************************************************************* -->
        <!-- Technology Student of the Year Card -->
        <div class="achievement-card">
            <div class="card-header">
                <h2>Business Techology Student of the Year - 2021</h2>
                <h3>Student J.W. Mitchell High School</h3>
            </div>
        </div>
        <!-- ************************************************************************* -->
    </section>
 
</div>
<!-- ************************************************************************* -->