<!-- ************************************************************************* -->
<!--
File: home.component.html
Author: Adam Wilkins
Last Updated: 6/1/2025
Last to Update: Adam Wilkins
-->
<!-- ************************************************************************* -->


<!-- ************************************************************************* -->
 <!-- Table for displaying info and photo or video-->
<table class="profile">
  <!-- ************************************************************************* -->
  <!-- Table row for the 2 headers -->
  <tr>

    <!-- ************************************************************************* -->
     <!-- Table header containing photo or video-->
    <th class="media-container">
      <img src="assets/home/Adam Wilkins.JPEG" alt="Adam" class="media">
    </th>
    <!-- ************************************************************************* -->

    <!-- ************************************************************************* -->
     <!-- Table header containing about me info-->
    <th class="info-container">

      <h1 class="name">Hi, I’m Adam Wilkins</h1>

      <p class="aboutMe">
        I am currently pursuing a Bachelor's degree in Computer Science with a minor in Robotics at Southern New Hampshire University (SNHU), expected to graduate in Spring 2026. I am passionate about programming and exploring the endless possibilities of microcontrollers, bridging the gap between code and physical devices.
        My projects showcase proficiency across various programming languages and platforms, highlighting my ability to integrate front-end and back-end systems with hardware components. I thrive on solving complex problems, whether it's developing innovative software solutions or creating interactive hardware prototypes.
        Originally from Florida, I’ve found my second home in New Hampshire and am excited about building my future here. I am actively seeking internships to further develop my skills and contribute to impactful projects in technology.
      </p>

      <!-- ************************************************************************* -->
       <!-- Button routing to contact page -->
      <button class="button"
        routerLink="/contact"
        routerLinkActive="active"
        >Contact Me</button>
      <!-- ************************************************************************* -->

    </th>
    <!-- ************************************************************************* -->

  </tr>
  <!-- ************************************************************************* -->
</table>
<!-- ************************************************************************* -->
